header{
    background-color: yellow;}
body{ font-family:'Times New Roman', Times, serif ;
background-color: yellow;
color: green;}
h1 {
    font-family: 'Times New Roman', Times, serif; color: green;}
     
  
