header{ 
    background-color :blue; }
body{ font-family: sans-serif;
    
    color: #000099;
    text-align:left;
}
a{background-color: gray;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color:red ;}

